In [1]:
import altair as alt
import pandas as pd
alt.renderers.enable('mimetype')
alt.data_transformers.enable('data_server')

DataTransformerRegistry.enable('data_server')

In [2]:
pop = pd.read_csv('API_SP.POP.TOTL_DS2_en_csv_v2_1678576.csv', skiprows=4).drop(
    columns=['Country Code', 'Indicator Name', 'Indicator Code', '2020', 'Unnamed: 65']).melt(id_vars=['Country Name'],
                                                                                              var_name='Year',
                                                                                              value_name='Population')
pop = pop.rename(columns={'Country Name': 'Country'})
pop["Country"] = pop["Country"].replace("West Bank and Gaza", 'Palestine')
pop

            Country  Year  Population
0             Aruba  1960     54211.0
1       Afghanistan  1960   8996973.0
2            Angola  1960   5454933.0
3           Albania  1960   1608800.0
4           Andorra  1960     13411.0
...             ...   ...         ...
15835        Kosovo  2019   1794248.0
15836   Yemen, Rep.  2019  29161922.0
15837  South Africa  2019  58558270.0
15838        Zambia  2019  17861030.0
15839      Zimbabwe  2019  14645468.0

[15840 rows x 3 columns]

In [3]:
crops = pd.read_csv('Production_Crops_E_Asia_NOFLAG.csv')